/* Colorful and beautiful */
h1 {
    font-family: Helvetica;
}

#content {
    text-align: center;
}

.logo {
    padding: 20px;
    width: 500px;
    height: 500px;
}

#bar {
    padding: 10px;
    position: center;
    width: 1000px;
    overflow: hidden;
    border-radius: 40px;
    height: 40px;
    background-image: .search-icon;
}

.search-icon {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}