/* Colorful and beautiful */
h1 {
    font-family: Trebuchet MS;
}

.container {
    width: auto;
    padding: 10px;
    height: 30px;
    background-color: #fff;
}

.tweets {
    position: center;
    text-align: center;
    width: 100px;
    overflow: hidden;
    height: 300px;
    background-color: #0000ff;

    margin: 30px;
    border: 5px solid dodgerblue;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#content {
    position: center;
    width: auto;
    height: 500px;
    border: 5px #000;
    padding: 20px;
    text-align: center;
}

.logo {
    padding: 20px;
    width: 500px;
    height: 500px;
}

#bar {
    padding: 10px;
    padding-right: 200px;
    resize: horizontal;
    width: auto;
    overflow: hidden;
    border-radius: 40px;
    height: 40px;
    outline: none;
    justify-content: center;
}

#bar[type=text] {
  resize: both;
  font-family: Trebuchet MS;
  font-size: 14px;
  width: 150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#bar[type=text]:focus {
  resize: both;
  width: 950px;
  border-color: #0000ff;
}

.navbar {
    font-family: Helvetica;
    font-weight: bold;
    width: auto;
    padding: 10px;
}

.navbar:hover {
  background-color: #ff0000;
  opacity: 0.2;
  filter: alpha(opacity=50);
  margin: auto;
}

.search-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}