/* Colorful and beautiful */
h1 {
    font-family: Helvetica;
}

#content {
    text-align: center;
}

.logo {
    padding: 20px;
    width: 500px;
    height: 500px;
}

.bar {
    overflow: hidden;
    width: 750px;
    height: 50px;
}